.bg-banner {
    background: url('../images/banner-bg.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner {

    &__header {
        margin-bottom: 1em;
    }

    &__text {
        line-height: 2em;
    }

    &__number {
        margin-top: 1em;
    }

    &__icon {
        margin-right: 1em;
    }
}