.button {
    @include vendor('appearance', 'none');
    @include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    height: 2.75em;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-family: _font(family);

    &-header {
        background: linear-gradient(to right, _palette(accent, bg), _palette(accent, bg-2));
        font-size: 1.625rem;
        padding: 0 5em;
    }

    &-empty {
        background: transparent;
        border: solid 3px #000;
        border-radius: 5px;
        font-size: 1.25rem; 
        padding: 0 3em;
        text-transform: uppercase;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &-card {
        background-color: #000;
        border: solid 3px #000;
        border-radius: 5px;
        color: #fff;
        height: 2.2em;
        font-size: 1.25rem;
        width: 100%;

        &:hover {
            background-color: #fff;
            color: #000; 
        }
    }
}