.bg-hosting {
    background-image: url('../images/hosting-bg.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hosting-header {
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'space-between');
    @include vendor('flex-wrap', 'wrap');
    gap: 2em;
    min-height: 80vh;

    @include breakpoint('<=large') {
        @include vendor('justify-content', 'center');
    }

    &__image {
        max-width: auto;
        max-height: 60vh;
        margin: 7% 0 0 -8em;

        @include breakpoint('<=large') {
            max-width: auto;
            max-height: 80vh;
            margin: 0;
        }
    }

    &__content {
        @include vendor('align-self', 'center');

        @include breakpoint('<=large') {
            @include vendor('justify-self', 'center');
            margin-bottom: 2em;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 1rem;
    }
}