.menu {
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'space-between');
    background-color: #fff;
    color: #000;

    padding: 1.25em 6em;

    &__left-side {
        @include vendor('align-self', 'center');
    }

    &__right-side {
        @include vendor('align-self', 'center');
    }

    &__shadow {
        box-shadow: 0 6px 6px 0 rgba(#000, .2);
    }
}

.nav {

    &__item {
        display: inline-block;
        margin-left: 1.75em;

        &:first-child {
            margin-left: 0;
        }
    }

    &__dropdown {
        margin-left: .25em;
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
    }

    &__cart {
        margin-left: 5em;
    }
}

