html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

html {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #DBE2EF;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

@-webkit-keyframes overlay-hide {
  0% {
    opacity: 1;
    z-index: 100000;
  }
  15% {
    opacity: 1;
    z-index: 100000;
  }
  99% {
    opacity: 0;
    z-index: 100000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes overlay-hide {
  0% {
    opacity: 1;
    z-index: 100000;
  }
  15% {
    opacity: 1;
    z-index: 100000;
  }
  99% {
    opacity: 0;
    z-index: 100000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

body {
  text-decoration: none;
}

body:after {
  -webkit-animation: overlay-hide 1.5s ease-in forwards !important;
  animation: overlay-hide 1.5s ease-in forwards !important;
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  body body:before {
    line-height: 2.025em;
  }
}

/* Type */
body, input, textarea, select {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #474747;
  letter-spacing: 0.025em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Archivo", "sans-serif";
  font-weight: 400;
  color: inherit;
  line-height: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.8125rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.1875rem;
}

h5 {
  font-size: 1.875rem;
}

h6 {
  font-size: 1.5625rem;
}

strong, b {
  font-weight: 700;
  color: inherit;
}

em, i {
  font-style: italic;
}

a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: inherit;
  font-family: "Roboto", "sans-serif";
  font-size: 1.25rem;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

p, ul, ol, dl, table {
  font-size: 1.25rem;
}

.bold {
  font-weight: 700;
}

.bold-black {
  font-weight: 900;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 100%;
  }
}

.wrapper.style1 {
  background-color: #fff;
}

.wrapper.style2 {
  background-color: #112D4E;
  color: #f9f7f7;
}

.wrapper.style3 {
  background-color: #3F72AF;
  color: #f9f7f7;
}

.wrapper.padding {
  padding: 5em 0 3em 0;
}

.flex-container {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container.space-between {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container.border-top {
  border-top: 1px solid rgba(97, 161, 161, 0.2);
}

.flex-container .flex-item.center {
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.flex-container .flex-item.padding {
  padding: 1.5em 0;
}

.menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #000;
  padding: 1.25em 6em;
}

.menu__left-side {
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__right-side {
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__shadow {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.nav__item {
  display: inline-block;
  margin-left: 1.75em;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__dropdown {
  margin-left: .25em;
}

.nav__link {
  cursor: pointer;
  text-decoration: none;
}

.nav__cart {
  margin-left: 5em;
}

.bg-hosting {
  background-image: url("../images/hosting-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hosting-header {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80vh;
}

.hosting-header__image {
  max-width: auto;
  max-height: 60vh;
  margin: 7% 0 0 -8em;
}

.hosting-header__content {
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hosting-header__title {
  margin-bottom: 1rem;
}

.hosting-header__text {
  margin-bottom: 1rem;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  height: 2.75em;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
}

.button-header {
  background: -webkit-gradient(linear, left top, right top, from(#F7616B), to(#B7256E));
  background: linear-gradient(to right, #F7616B, #B7256E);
  font-size: 1.625rem;
  padding: 0 5em;
}

.button-header:hover {
  color: #b3b3b3;
}

.button-empty {
  background: transparent;
  border: solid 3px #000;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0 3em;
  text-transform: uppercase;
}

.button-empty:hover {
  background-color: #000;
  color: #fff;
}

.button-card {
  background-color: #000;
  border: solid 3px #000;
  border-radius: 5px;
  color: #fff;
  height: 2.2em;
  font-size: 1.25rem;
  width: 100%;
}

.button-card:hover {
  background-color: #fff;
  color: #000;
}

.card {
  background-color: #fff;
  padding: 3.5em .5em 2em .5em;
  min-width: 32%;
}

.card__description, .card__price {
  font-size: .875rem;
}

.card__selection, .card__description {
  margin-bottom: .75em;
}

.card__select {
  padding: .75em 1.25em;
  width: 100%;
}

.card__shadow {
  -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.bg-banner {
  background: url("../images/banner-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner__header {
  margin-bottom: 1em;
}

.banner__text {
  line-height: 2em;
}

.banner__number {
  margin-top: 1em;
}

.banner__icon {
  margin-right: 1em;
}

.content__header {
  color: #828282;
  margin-bottom: 2em;
  text-align: center;
}

.content__item {
  margin-top: 1em;
}

.collapse {
  background-color: #fff;
  padding: 1em 1em;
  cursor: pointer;
}

.collapse__icon {
  margin-right: .25em;
}

.collapse__icon.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.collapse__content {
  padding: 1em 1em 1em 1.25em;
}

.collapse__content.hidden {
  display: none;
}

.collapse__shadow {
  -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.domain__search {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #f9f7f7;
  display: block;
  padding: .65em .75em;
  height: 3em;
  outline: none;
  width: 50%;
}

.links {
  margin-top: 6em;
  margin-bottom: 6em;
}

.list__item {
  margin-top: 1em;
}

.list__item:first-child {
  margin-top: 0;
}

.list__link {
  cursor: pointer;
  text-decoration: none;
}

.list-inline__item {
  display: inline-block;
  margin-left: 1.75em;
}

.list-inline__item:first-child {
  margin-left: 0;
}

.list-inline__dropdown {
  margin-left: .25em;
}

.list-inline__link {
  cursor: pointer;
  text-decoration: none;
}

.list-inline__cart {
  margin-left: 5em;
}

.list-card__item {
  font-size: .875rem;
  margin-top: 1em;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  background: #fff;
  position: absolute;
  padding: 1em 0 .5em 25%;
  margin-left: -25%;
  width: 150%;
}

.dropdown__list--hidden {
  display: none;
}

.dropdown__link {
  cursor: pointer;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */